<div class="order-summary">
<div class="products-ordered">
<table>
    <thead>
        <tr>
            <th>Number</th>
            <th>Product</th>
            <th>Price</th>
        </tr>
    </thead>
   <tbody>
    <tr *ngFor="let product of products">
        <!-- <td>{{product}}</td> -->
        <td>{{product.name}}</td>
        <td>{{ product.price| currency: 'USD': 'symbol' }}</td>
        </tr> 
   </tbody>
</table>
<p *ngIf="listOrder.length === 0">No hay productos en la orden.</p>
</div>

<div class="total">
    <p class="total-label"> Total: </p>
    <p class="total-sum"> $ 0.00 </p>
</div>
</div>
<app-send-order-button></app-send-order-button>