*{
    font-family: 'Patrick Hand', cursive;
    padding: 0;
    margin:  0;
}

button {
    height: 100%;
    width:  100%;
    font-size: 30px;
    border-radius: 10px;
    display: flex;
    place-content: center;
    align-items: center;
    border-style: none;
}
img {
width: 100%;
height: auto;
}
.notification {
    width: 30px;
    height: 30px;
    position: absolute;
    color: #ffffff;
    right: -10px;
    bottom:-10px; 
    background-color: rgba(149, 0, 0, 0.9);
    border-radius: 20px;
    font-size: 20px;
}