*{
    font-family: 'Patrick Hand', cursive;
}

.containerPrincipal {
display: flex;
flex-direction: row;
place-content: center;
align-items: center;
gap: 20px;
margin: 0 20px;
height: 75%;
}

.buttonsContainerMenu{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.buttonMenu {
    width: 49%;
}
    
app-client-name-input {
width: 100%;
height: 55px;
}


.orders{
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 20px;
    align-items: center;
}

.products-container{
    height: 400px;
    width: 100%;
     gap: 20px;
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0px 25px 15px ;
    overflow-y: scroll;
    flex-grow: 1;
    justify-content: center;
}

.order-summary-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    gap: 10px;
}

app-order-summary {
display: flex;
flex-direction: column;
gap: 20px;
width: 100%;
height: 100%;
}

.ordersStatusButton {
    position: absolute;
    margin-left: 8%;
    top: 7%;
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }

  .success-message, .error-message  {
    color: green;
    margin: -16px 0 0 0;
    font-size: 30px;
    }
    
    .error-message {
        color: red;
    }
    
    .success-message {
        animation: fadeInOut 2s ease-in-out;
      }
    .sendOrderButton {
    width: 80%;
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;

}

    .sendOrderButton:hover, .ordersStatusButton:hover {
        box-shadow: 0px 0px 9px 0px #FFFCFC
    }
    
    .orders, .order-summary-container {
        height: 90%;
    }
  
@media (orientation: portrait) {
    .containerPrincipal {
        flex-direction: column;
        }
        .orders {
        width: 85%;
        }
        .order-summary-container{
            width: 85%;
            margin-top: 25px;
        }
        app-button-orders-status {
            top: 4%;
          }
}