<app-buttons [btnClass] ="'btnNotifications'" class='ordersStatusButton' (click)="viewOrdersStatus()" [btnSrcImage]="'../../../assets/images/cocina.png'"></app-buttons>
<div class="containerPrincipal">

  <div class="orders">
    <div class="buttonsContainerMenu">
      <app-buttons class='buttonMenu' [btnName]="'Breakfast'" [isSelected]="isBreakfastSelected"  (selected)="handleBreakfastSelection()"></app-buttons>
      <app-buttons class='buttonMenu' [btnName]="'Lunch and Dinner'" [isSelected]="isLunchAndDinnerSelected"  (selected)="handleLunchAndDinnerSelection()"></app-buttons>
    </div>

    <app-client-name-input></app-client-name-input>
    <div class="products-container">
      <app-products *ngFor="let product of currentMenu" [product] = 'product' >
      </app-products>
    </div>
  </div>

  <div class="order-summary-container">
    <app-order-summary></app-order-summary>
    <app-buttons class='sendOrderButton' [btnName]="'Send Order'" (click)="onSendOrderClick()"></app-buttons>
    <h1 *ngIf="alertMessage" [ngClass]="{'success-message': alertMessage === 'Order sent successfully', 'error-message': alertMessage !== 'Order sent successfully'}">{{alertMessage}}</h1>
  </div>
  
</div>


