*{
    font-family: 'Patrick Hand', cursive;
    padding: 0;
    margin:  0;
}

.principal-container {
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
    gap: 20px;
    height: 550px;
    }

.ViewOrderAndDone {
    display: flex;
    flex-direction: column;
    gap: 10px; 
     width: 45%;
    height: 100%;
}
app-orders {
    gap: 20px;
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    padding: 15px 0;
    width: 45%;
    height: 95%;
}
app-order-details {
display: flex;
flex-direction: column;
height: 100%;
}
.success-message {
color: green;
animation: fadeInOut 2s ease-in-out;
}
  
@keyframes fadeInOut {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
  }

@media (orientation: portrait) {
    .principal-container {
        flex-direction: column;
        margin-bottom: 10px;
        gap: 20px;
        }
}