<app-header></app-header>
<div class="principal-container">
    <app-orders></app-orders>
    <div class="ViewOrderAndDone">
        <app-order-details></app-order-details>
        <app-buttons *ngIf="buttonDisabled" [btnName]="'Done'" (click)="onButtonDone()"  [isSelected]="buttonDisabled"></app-buttons>
        <h1 *ngIf="alertMessage" [ngClass]="{'success-message': alertMessage === 'Delivering order successfully', 'error-message': alertMessage !== 'Delivering order successfully'}">{{alertMessage}}</h1>

    </div>
   </div>


