 <div class='orderedProducts'> 
  <h3 *ngIf="orderSelected">ORDERED PRODUCTS</h3>

  <ul  *ngIf="orderSelected && orderSelected.products.length > 0">
       <li *ngFor="let product of orderSelected.products">
        x{{ product.qty }} {{ product.product?.name }}
    </li>
  </ul>

  <p class="noOrder" *ngIf="!orderSelected">No order selected. Please choose an order.</p>
</div>

  <app-buttons *ngIf="orderSelected?.status === 'Pending'" [btnName]="'Done'" (click)="onButtonDone()"></app-buttons>
        <h1 *ngIf="alertMessage" [ngClass]="{'success-message': alertMessage === 'Delivering order successfully', 'error-message': alertMessage !== 'Delivering order successfully'}">{{alertMessage}}</h1>


