* {
    font-size: 30px;
}
.orderedProducts {
    border-radius: 10px;
    background-color: #D9D9D9;
    height: 100%;
display: flex;

}

.orderedProducts{
flex-direction: column;
overflow: auto;
}
ul{
padding-left: 10%;
}

h3 {
margin: 0;
padding: 10px 0 ;
width: 100%;
text-align: center;
background-color: #fd7e23;
font-size: 35px;
font-weight: bolder;
}

.noOrder {
text-align: center;
}